/* default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e2f2ff;
}

/* default div */
div {
  display: flex;
  justify-content: center;
}

/* style for body text */
body {
  padding-top: 1;
  margin: 0;
  display: flex;
  font-family: 'Nunito';
  font-size: 26px;
  color: #131A22;
  text-align: center;
  background-color: transparent;
}



/* text for titles */
h1 {
  font-family: 'Nunito';
  font-weight: bold;
  color: #13334d;
  text-decoration-color: #6595b9;
  background-color: transparent;
  font-size: xx-large;
  text-align: center;
}

h2 {
  font-family: 'Nunito';
  font-style: italic;
  color: #6595b9;
  font-size: 36px;
  text-align: center;
  background-color: transparent;
}

h3 {
  font-family: 'Nunito';
  font-style: italic;
  color: #13334d;
  font-size: 40px;
  text-align: center;
  background-color: transparent;
}

/* header div */
header {
  background-color: #A2C4DF;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  position: absolute;
  display: flex;
  font-size: 40px;
  justify-content: space-between;
}

/* styles the header */
header .tab {
  bottom: 0;
  position: absolute;
  text-align: center;
  height: 50%;
  width: 60%;
  padding: 5px;
  display: flex;
  flex: 1;
  border: 5px solid #e2f2ff;
  border-radius: 5px;
  border-bottom: none;
  border-left: none;
}

/* profile icon in header */
header i {
  display: flex;
  justify-content: end;
  width: 40%;
  right: 0;
  top: 35%;
  justify-self: center;
  padding: 20px;
  position: absolute;
}

/* bottom navigation bar styling */
.bottom-nav {
  background-color: #2E495F;
  justify-content: space-between;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
}

/* icons in bottom nav */
i {
  background-color: transparent;
}

/* links for the bottom nav bar */
.bottom-nav a {
  flex: 1;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  color: #A2C4DF;
  text-align: center;
  padding: 10px;
  font-size: 40px;
}

/* Add an active class to highlight the current page */
.bottom-nav a.active {
  background-color: #76abdd;
  color: #1e3b59;
}

/* default link color */
a {
  color: #1e3b59;
}

/* styles logo in landing page */
.logo {
  display: inline-block;
  vertical-align: top;
  width: 6%;
  height: 6%;
  padding: 0.5%;
  border: #262970;
}


/* div for the content of a page */
.page {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  top: 12vh;
  width: 100%;
  height: 80%;
  text-align: center;
  flex-direction: column;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

/* div styling for content containers */
.page .home-page {
  background-color: #A2C4DF;
  border: 10px solid #13334d;
  width: 80%;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  margin: 40px 0;
}

/* home page text */
.home-page h2 {
  font-size: 24px;
  color: #13334d;
}

/* styling for linked buttons on home page */
.page .home-page button {
  position: absolute;
  font-family: 'Nunito';
  display: block;
  font-size: 16px;
  font-weight: bold;
  border: 4px solid #1d4061;
  border-radius: 10px;
  background-color: #e2f2ff;
  color: #1d4061;
  padding: 4px;
  top: 90%;
  min-width: 40%;
  left: 60%;
}

/* images on home page */
.page .home-page img {
  padding-top: 5%;
  width: 13vh;
  position: relative;
  top: 0;
  background-color: transparent;
}

/* off-center headings on content containers */
.page .home-page h1 {
  display: block;
  float: inline-start;
  position: absolute;
  bottom: 90%;
  padding: 2%;
  font-size: 25px;
  border: 8px solid #13334d;
  background-color: #e2f2ff;
}

/* display for users in content containers */
.page .home-page .user-container {
  display: inline-block;
  padding-top: 3px;
  background-color: transparent;
  text-align: center;
  width: 100%;
  color: #13334d;
  font-weight: bold;
  font-size: 20px;
}

/* user profile icons */
.page .home-page .user-container img {
  width: 40px;
  height: fit-content;
}

/* button for going to pond */
.map-container button {
  padding: 4px;
  background-color: #13334d;
  border-radius: 10px;
  color: white;
  font-family: 'Nunito';
  border: none;
}

/* button for cancel going to pond */
.map-container .delete {
  padding: 2px;
  background-color: #7c2134;
  color: white;
  font-family: 'Nunito';
  border-radius: 10px;
}

/* fits content on the pond page */
.page .lake-page {
  background-color: #e2f2ff;
  border: 6px solid #A2C4DF;
  width: 90%;
  height: fit-content;
  position: relative;
  justify-content: center;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  margin: 40px 0;
}

/* fits the gif for pond in page */
.page .lake-page img {
  padding-top: 5%;
  max-width: 100%;
  top: 0;
  background-color: transparent;
}

/* container for buttons */
.lake-buttons {
  display: inline-block;
  padding: 10px;
  border: 6px solid #A2C4DF;
  border-radius: 10px;
  justify-content: space-around;
  min-width: 70%;
  min-height: 10%;
  margin: 0 auto;
  position: absolute;
  bottom: 10vh;
}

/* release button */
.release {
  width: 40%;
  font-weight: bold;
  background-color: #A2C4DF;
  color: #1e3751;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  border: 3px solid #1e3751;
  border-radius: 10px;
}

/* catch button */
.catch {
  width: 40%;
  background-color: #A2C4DF;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #1e3751;
  border-radius: 10px;
  color: #1e3751;
  cursor: pointer;
}

/* holds the message phished out */
.phish-container {
  max-width: 100%;
  padding: 5%;
  background-color: white;
}

/* buttons for selecting phish to release */
.phish {
  height: 60px;
  color: #13334d;
  font-size: 16px;
  justify-content: space-between;
  display: inline-flex;
  padding-top: 10px;
  font-weight: bold;
}

/* classes for which phish is selected */
#lv1t {
  background-color: #e2f2ff;
}

#lv1e {
  background-color: #e2f2ff;
}

#lv2t {
  background-color: #e2f2ff;
}

#lv2t {
  background-color: #e2f2ff;
}

/* icons in phish selection */
.phish i {
  display: flex;
  padding-left: 5px;
  font-size: 40px;
  color: #13334d;
  justify-content: start;
}

/* holds the map in phish page */
.map-container {
  width: 100%;
  height: 80vh;
  justify-self: center;
  position: absolute;
  top: 18vh;
  display: inline-block;
}

/* image used for map */
.map-container img {
  width: 100%;
  object-fit: cover;
}

/* displays the top phisher banner */
.page .top-phisher {
  display: inline-block;
  position: absolute;
  border: 5px solid #13334d;
  font-size: 20px;
  background-color: #A2C4DF;
  top: 5vh;
  height: 8vh;
  width: 100%;
}

.page .top-phisher b {
  background-color: transparent;
}

.page .top-phisher img {
  max-width: 45px;
  display: inline;
}

.page .top-phisher p {
  display: inline-flex;
  text-align: center;
  align-items: center;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}

/* username and password on landing page */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* buttons for releasing phish popup */
.phish-container .cancel {
  background-color: red;
  padding: 5px;
}

.phish-container .send {
  background-color: #7db6eb;
  color: #1d4061;
  font-weight: bold;
  padding: 3%;
  border: 4px solid #1d4061;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}


/* popups used when catching a phish */
.phish-popup {
  display: none;
  justify-content: center;
  top: 20%;
  left: 10%;
  position: fixed;
  border: 5px solid #13334d;
  height: auto;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  z-index: 9;
}

/* stylings for inside caught phish popup */
.phish-popup .catch {
  min-height: 60px;
}
.phish-popup h3 {
  font-size: 24px;
}
.phish-popup p {
  font-size: 20px;
}
.phish-popup img {
  padding-top: 5%;
  max-width: 100%;
  top: 0;
  background-color: transparent;
}
.phish-popup i {
  font-size: 16px;
}

/* popup for lake */
div #popup { 
  width:200px;
  height:130px;
  background-color: #e2f2ff;
  position:absolute;
  margin-top: -50%;
  margin-left:30%;
  border: 4px solid #A2C4DF;
}

/* container for questions */
.quizContainer {
  top: 10vh;
  background-color: #e2f2ff;
  position: absolute;
  padding: 20px;
  height: 40vh;
  min-height: 40vh;
  width: 80%;
  margin: 20px auto;
  max-width: 700px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* container for whole quiz */
.quizContainer2 {
  top: 10vh;
  position: absolute;
  background-color: white;
  padding: 20px;
  border: 5px solid #13334d;
  height: auto;
  min-height: 40vh;
  width: 80%;
  font-family: 'Nunito';
  margin: 20px auto;
  max-width: 700px;
  display: inline;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* default text styling */
p {
  background-color: transparent;
  padding-bottom: 10px;
}

/* answer buttons in quiz */
.option {
  display: block;
  width: 100%;
  padding: 4px;
  font-family: 'Nunito';
  min-height: 55px;
  margin: 5px 0;
  background-color: #1e3751;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* question result */
#feedback {
  bottom: 15%;
  position: relative;
  background-color: white;
  font-weight: bold;
  padding: 3px;
}

/* quiz score */
#score {
  bottom: 40%;
  position: absolute;
  background-color: transparent;
  font-weight: bold;
}

/* back to learning button */
#backButton {
  background-color: #A2C4DF;
  color: #1d4061;
  border: 5px solid #1d4061;
  border: none;
  bottom: 20%;
  left: 30%;
  position: absolute;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* next question button */
#nextButton {
  background-color: #A2C4DF;
  color: #1d4061;
  border: 5px solid #1d4061;
  border: none;
  padding: 10px 20px;
  position: fixed;
  left: 30%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* holds all the buttons in a grid */
.buttonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
  background-color: transparent;
  align-items: center;
}

/* holds question text */
#questionContainer {
  text-align: center;
  background-color: transparent;
}

/* holds a button */
#buttonContainer {
  margin-top: 20px;
}

/* initial buttons shown */
#first_buttons {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

/* buttons for levels on learning page */
.levelButton {
  font-size: 16px;
  height: 75px;
  width: 75px;
  margin-bottom: 50px;
  border: 10px solid #2E495F;
  border-radius: 50%;
  background-color: #A2C4DF;
  font-size: 20px;
}

/* locked levels */
.levelButtonLock {
  font-size: 16px;
  height: 75px;
  width: 75px;
  margin-bottom: 50px;
  border: 10px solid #8b8e91;
  border-radius: 50%;
  background-color: #A2C4DF;
  font-size: 20px;
}

/* extra button stylings */
#TL_button,
#MM_button,
#BR_button {
  margin: 10px 0;
}

#TL_button {
  position: absolute;
  top: 0;
  left: 20px;
}

#MM_button {
  text-decoration: none;
  padding-top: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#BR_button {
  position: absolute;
  bottom: 0;
  right: 20px;
}

/* stylings for leaderboard table */
table {
  border-collapse: collapse;
  display: table;
  width: 80%;
  top: 15vh;
  position: absolute;
  font-weight: bold;
}

table img {
  width: 80px;
  padding-right: 20px;
  background-color: transparent;
}

th {
  background-color: #13334d;
  border: 1px solid #13334d;
  padding: 10px;
  color: white;
  text-align: center;
}

td {
  border: 10px solid #e2f2ff;
  border-left: #A2C4DF;
  border-right: #A2C4DF;
  background-color: #A2C4DF;
  padding: 10px;
  text-align: left;
  color: #13334d;
}

/* stylings for headings in the pages */
.page .heading {
  display: inline-flex;
  position: absolute;
  width: 100%;
  top: 4vh;
}

.page .heading .lake {
  display: inline-flex;
  position: absolute;
  width: 100%;
  top: 10vh;
}

.page .heading h1 {
  display: inline-block;
  width: 100%;
  position: absolute;
}

.page .heading h2 {
  display: inline;
  position: absolute;
  border: 4px solid #A2C4DF;
  padding: 10px;
  margin-top: 10%;
}

.page .heading .learn h2 {
  display: inline;
  position: absolute;
  border: 4px solid #A2C4DF;
  padding: 5px;
  margin-top: 0;
}

/* banners for levels in learning page */
.levelBanner {
  background-color: #2E495F;
  width: 100%;
  border-bottom: #FFF;
  border-radius: 2px;
  border-color: #FFF;
}

.levelBannerLock {
  background-color: #8b8e91;
  width: 100%;
  border-bottom: #FFF;
  border-radius: 2px;
  border-color: #FFF;
}

.levelBannerText {
  color: #fff;
  width: 100%;
}

/* extra levels coming soon styling */
.page .extra img {
  display: inline-block;
  width: 40%;
  position: fixed;
  bottom: 18vh;
}

/* page text styling */
.page h4 {
  bottom: 12vh;
  display: inline-block;
  position: fixed;
  color: #b3bac0
}

/* email page stylings */
.page .email-page {
  background-color: #A2C4DF;
  border: 10px solid #13334d;
  width: 80%;
  position: relative;
  border-radius: 5px;
  display: block;
  padding: 10px;
  margin: 40px 0;
}

.page .email-page h1 {
  display: block;
  float: inline-start;
  position: absolute;
  bottom: 90%;
  padding: 2%;
  font-size: 25px;
  border: 8px solid #13334d;
  background-color: #e2f2ff;
}

.page .email-page button {
  position: absolute;
  display: block;
  background-color: #13334d;
  color: white;
  padding: 3%;
  top: 90%;
  min-width: 40%;
  left: 60%;
}

.page .email-page img {
  /* padding-top: 0px; */
  padding: 10px;
  height: 100px;
  width: 100px;
  opacity: 1;
  transition: opacity 0.3s;
}

.page .email-page img:active {
  opacity: 0.7;
}

.page .email-page input {
  padding: 10px;
}

#easy-container {
  padding-top: 5vh;
}

