* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  background-color:  #e2f2ff;
}

input[type=submit] {
  background-color: #1e3b59;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

div {
  display: flex;
  justify-content: center;
}

/* style for body text */
body {
    padding-top: 1;
    margin: 0;
    display: flex;
    font-family: 'Nunito';
    font-size: 26px;
    color: #131A22;
    text-align: center;
    background-color: transparent;
}



/* text for titles */
h1 {
  font-family: 'Nunito';
    font-weight: bold;
    color:#13334d;
    text-decoration-color: #6595b9;
    background-color: transparent;
    font-size: xx-large;
    text-align: center;
}

h2 {
  font-family: 'Nunito';
    font-style: italic;
    color: #6595b9;
    font-size: 36px;
    text-align: center;
    background-color: transparent;
}

/* text for reflection*/

h3 {
  font-family: 'Nunito';
    font-style: italic;
    color: #13334d;
    font-size: 40px;
    text-align: center;
    background-color: transparent;
}

.page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

/* Add a black background color to the top navigation */
header {
  background-color: #A2C4DF;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  position: fixed;
  display: flex;
  font-size: 40px;
  justify-content: space-between;
}

header .tab {
  bottom: 0;
  position: absolute;
  text-align: center;
  height: 50%;
  width: 60%;
  padding: 5px;;
  display: flex;
  flex: 1;
  border: 5px solid #e2f2ff;;
  border-radius: 5px;
  border-bottom: none;
  border-left: none;
}

header i {
  display: flex;
  justify-content: end;
  width: 40%;
  right: 0;
  top: 35%;
  justify-self: center;
  padding: 20px;
  position: absolute;
}

.bottom-nav {
    background-color:#2E495F;
    justify-content: space-between;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
  }

  i {
    background-color: transparent;
  }
  
  /* Style the links inside the navigation bar */
  .bottom-nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    color: #A2C4DF;
    text-align: center;
    padding: 10px;
    font-size: 40px;
  }
  
  /* Change the color of links on hover */
  .bottom-nav a:hover {
    background-color:rgb(221, 185, 140);
    color: #0e2e4b;
  }
  
  /* Add an active class to highlight the current page */
  .bottom-nav a.active {
    background-color: #76abdd;
    color:#1e3b59;
  }

  a {
    color: #1e3b59;
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    width: 6%;
    height: 6%;
    padding: 0.5%;
    border: #262970;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.lake-buttons {
  display: flex;
  justify-content: space-between; 
  min-width: 70%;
  min-height: 10%;
  margin: 0 auto; 
  position: absolute;
  bottom: 10%;
  left: 15%;
}

.release {
  width: 40%;
  background-color: #1e3751;
  color:#bbd7ec;
  font-size: x-large;
  cursor: pointer;
}

.catch {
  width: 40%;
  background-color: #1e3751;
  color:#bbd7ec;
  font-size: x-large;
  cursor: pointer;
}

.form-popup {
  display:none;
  justify-content: center;
  top: 20%;
  left: 10%;
  position: fixed;
  height: 50%;
  width: 80%;
  z-index: 9;
}

.form-container {
  max-width: 100%;
  padding: 5%;
  background-color: white;
}

.page {
  padding-top: 20vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 80vh;
  justify-self: center;
  display: inline-block;
}

.map-container img {
  width: 100%;
  object-fit: cover;
}

.form-container input[type=text], .form-container input[type=phish] {
  width: 100%;
  padding: 5%;;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



.form-container .cancel {
  background-color: red;
}

.form-container .send {
  background-color: #7db6eb;
  color: white;
  padding: 3%;
  border:#131A22;
  cursor: pointer;
  width: 100%;
}


.sign {
  position: absolute;
  width: 100%;
  height: 100;
  padding: 5%;
  background-color:#6595b9;
  color:#bbd7ec;
}

.leader {
  position:relative;
  width: 80vh;
  height: 5vh;
  padding: 1%;
  justify-content: space-around;
  background-color:#6595b9;
  color:#214158;
}

.sign .back {
  position: absolute;
  width: 10%;
  top: 10%;
  left: 5%;
  background-color: #bbd7ec;
  color:#842bd8;
  cursor: pointer;
}

.container {
  position: fixed;
  width:max-content;
  justify-content: stretch;
}

.pondcontainer {
  display: inline-block;
  justify-content: center;
  height: 80%;
  padding-top: 20%;
}

.pondcontainer img {
  width: 100%;
  height: 40%;
  border: 5px solid #ccc;
}

.container .btn {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #842bd8;
  padding: 2%;
  color: white;
  cursor: pointer;
}

.container .you {
  position: fixed;
  top: 50%;
  left: 50%;
  width:5%;
  height: 2%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #eb4513;
  color: white;
  cursor: pointer;
}

.container .you:hover::before {
  position: absolute;
  content:"You Are Here";
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #eb4513;
  color: white;
  cursor: pointer;
}

.container .btn:hover {
  background-color: #3a135e;
}

.quizContainer{
  top: 20%;
  position: absolute;
  background-color: #fff;
  padding:20px;
  height: 40vh;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 20px auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

p {
  background-color: transparent;
}

.option {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #1e3751;
  color: #fff;
  border: none;
  cursor: pointer;
}

.option:hover {
  background-color:rgb(221, 185, 140);
  color: #1d4061;
}

#feedback {
  margin-top: 10px;
  font-weight: bold;
}

#nextButton {
  background-color: #593a84;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#nextButton:hover {
  background-color: #272f76;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
  background-color: transparent;
  align-items: center;
}

#questionContainer {
  text-align: center;
  background-color: transparent;
}

#buttonContainer {
  margin-top: 20px;
}

#first_buttons {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.levelButton {
  font-size: 16px;
  height: 75px;
  width: 75px;
  margin-bottom: 50px;
  border: 10px solid #2E495F;
  border-radius: 50%;
  background-color: #A2C4DF;
  font-size: 20px;
}

#TL_button,#MM_button,#BR_button {
  margin: 10px 0;
}

#TL_button {
  position: absolute;
  top: 0;
  left: 20px;
}

#MM_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#BR_button {
  position: absolute;
  bottom: 0;
  right: 20px;
}
